p{
    color: black;

}
button{
    color:blue;
}

body{
    background-color: chartreuse;
}

button{

    background-color: blue;
}

#headingOne{
    color:aqua;
}

#box{

    background-color: brown;
}