div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction : row-reverse;
}
#box1{
    background-color: chartreuse;
}

#box2{
    background-color: red;
}

#box3{
    background-color: brown;
}
#box4{
    background-color: aliceblue;
}